.main {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

svg:not(:root) {
    overflow: hidden;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    list-style: none;
}

.grid-header {
    margin: 10px auto 30px;
    text-align: center;

    h2 {
        margin: 0 0 5px;
        font-size: 32px;
        font-weight: normal;
    }

    .lead {
        margin: 5px 0 0;
    }
}

.grid-item-wrap {
    display: flex;
    flex-direction: column;
}

.grid-item {
    flex: 1;
    position: relative;
    display: block;
    height: 100%;
    padding-top: 24px;
    font-size: 14px;
    color: #555;
    border: 1px solid rgba(0,0,0,0.075);
    border-bottom-color: rgba(0,0,0,0.125);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0.05);
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

    &:hover {
        text-decoration: none;
        border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.15);
        box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 8px 15px rgba(0,0,0,0.1);
    }
}

.grid-item-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;

    &.web-api {
        background-image: url('/images/web-api.svg');
    }

    &.market-pricing {
        background-image: url('/images/market-pricing.svg');
    }

    &.id {
        background-image: url('/images/id.svg');
    }

    &.vdf {
        background-image: url('/images/vdf.svg');
    }
}

.grid-item-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    color: #24292e;
}

.grid-item-meta {
    position: absolute;
    bottom: 16px;
    display: block;
    color: #586069;
}

.grid-item-meta-details {
    margin-right: 10px;
    color: #586069;

    .octicon {
        width: 16px;
        text-align: center;
        display: inline-block;
        vertical-align: text-top;
        fill: currentColor;
    }
}
